.formInputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Alegreya SC';
}

.formError {
  color: red;
  font-size: 0.8rem;
}
