.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Alegreya SC';
}

.profileContainer {
  grid-template-columns: auto 1fr; 
  gap: 8px;
}