.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Alegreya SC';
  padding-top: 2rem;
}

.profileContainer {
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 5px;
  padding: 2rem;
  gap: 16px;
}

.errorMessage {
  color: var(--red);
  padding: 5px;
}

.successMessage {
  color: green;
  padding: 5px;
}