.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
  }

.heading{
  position: relative;
  align-self: start;
  width: 55vw;
  margin-left: 3vw;
  color: var(--gray);
  border-bottom: 3px solid var(--gray);
  margin-top: 30px;
  margin-bottom: 30px;
}

.button{
  width: 15vw;
  height: 3vw;
  margin: 10px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.5vw;
  border-color: transparent;
  box-shadow: none;
  outline: none;
}