.card {
    width: 27vw;
    height: 16vw;
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.course {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}