.container {
  width: 600px; /* Set width to 600px */
  background-color: #f9f9f9; /* Off-white background color */
  border: 2px solid red; /* Red outline */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding for content */
  margin-bottom: 10px;
  margin-top: 20px;
}

.row {
  display: flex; /* Use flexbox for layout */
}

.infoContainer {
  flex-grow: 1; /* Allow this container to grow */
}

.ratingContainer {
  width: 100px; /* Set width for rating container */
  text-align: center; /* Center-align rating */
}

.rating {
  font-size: 48px; /* Increase font size for rating */
  font-weight: bold;
  color: #888; /* Lighter color for rating */
  margin: 0; /* Remove margin */
}

.descriptionContainer {
  flex-grow: 1; /* Allow this container to grow */
  margin-top: 20px; /* Add margin to separate from other content */
}

.description {
  font-size: 18px; /* Increase font size for description */
  margin: 0; /* Remove margin */
}
