.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

.heading{
  position: relative;
  align-self: start;
  width: 55vw;
  margin-left: 3vw;
  color: var(--gray);
  border-bottom: 3px solid var(--gray)
}