.button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #B20D30;
  color: #FEEFDD;
  font-family: 'Alegreya SC';
}
