.card {
    border: 1px solid #2f2f2f; /* Cor da borda */
    border-radius: 8px; /* Borda arredondada */
    padding: 16px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem abaixo do card */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
    background-color: #b20d30; /* Cor de fundo do card */
    color: #feefdd; /* Cor do texto */
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos no cálculo da largura */
    width: calc(33% - 20px); /* Ajusta para manter exatamente dois cards por linha, considerando o gap */
    display: flex; /* Adiciona display flex para permitir ajuste de altura */
    flex-direction: column; /* Organiza o conteúdo do card em coluna */
    justify-content: space-between; /* Distribui o espaço dentro do card uniformemente */
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Espaço entre os cards */
}

.addCard {
    border: 1px solid #2f2f2f; /* Cor da borda */
    border-radius: 8px; /* Borda arredondada */
    padding: 16px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem abaixo do card */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
    background-color: #2f2f2f; /* Cor de fundo do card */
    color: #feefdd; /* Cor do texto */
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos no cálculo da largura */
    width: calc(33% - 20px); /* Ajusta para manter exatamente dois cards por linha, considerando o gap */
    display: flex; /* Adiciona display flex para permitir ajuste de altura */
    flex-direction: column; /* Organiza o conteúdo do card em coluna */
    justify-content: center; /* Centraliza o conteúdo no card */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}

@media (max-width: 768px) {
    .addCard {
        width: 100%; /* Ajusta para ocupar a largura total em telas menores */
        max-width: 100%; /* Garante que o card não exceda 100% da largura */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Ajusta para ocupar a largura total em telas menores */
        /* Removido 'flex-basis: 100%' para simplificar e usar apenas 'width' */
        max-width: 100%; /* Garante que o card não exceda 100% da largura */
    }
}
